#root {
  max-width: 1280px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clock-face {
  padding: 25% 0;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
}

#hours-label,
#minutes-label,
#seconds-label {
  font-size: 2em;
  color: rgba(150,0,0,0.8);
  text-align: center;
}
